.hd {
    text-align: center;
}

.div1 {
    text-align: center;
}

#div_r {
    margin: 24px auto;
    width: 70%;
    height: 500px;
    background-color: greenyellow;
    cursor: url(man.png), auto;
}

#hint{
    color: red;
    height: 20px;
    font-size: 24px;
}

.div2 {
    text-align: center;
    background-color: black;
    height:360px;
}

#timer {
    width: 320px;
    height:160px;
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 72px;
    background-color: darkslateblue;
}

#p1 {
    height: 30px;
    font-size: large;
}

img {
    width: 30%;
    height: 600px;
    border: 1px solid gray;
}

#buttone2 {
    font-size: 24px;
}

#imageinput1, #imageinput2, #imageinput3{
    width: 600px;
}

#widthResult {
    font-size: 24px;
}