.axis .domain{ 
    stroke: #bbb;
}

.axis .tick line {
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4,2;
}

.tooltip {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    /*避免出現連結或其他預設行為*/
    background: #eee;
    max-width: 200px;
}